<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.2</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>e1bf99f08acb60c6071b22654a49e1c8d647725f</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSApplicationCategoryType</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>org-appextension-feature-password-management</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>192.168.1.182</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>192.168.1.232</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Nunito-Bold.ttf
Nunito-Bold.ttf
Nunito-ExtraBold.ttf
Nunito-ExtraLight.ttf
Nunito-Light.ttf
Nunito-Medium.ttf
Nunito-Regular.ttf
Nunito-SemiBold.ttf</string>
		<string>Nunito-ExtraBold.ttf
Nunito-Bold.ttf
Nunito-ExtraBold.ttf
Nunito-ExtraLight.ttf
Nunito-Light.ttf
Nunito-Medium.ttf
Nunito-Regular.ttf
Nunito-SemiBold.ttf</string>
		<string>Nunito-ExtraLight.ttf
Nunito-Bold.ttf
Nunito-ExtraBold.ttf
Nunito-ExtraLight.ttf
Nunito-Light.ttf
Nunito-Medium.ttf
Nunito-Regular.ttf
Nunito-SemiBold.ttf</string>
		<string>Nunito-Black.ttf
Nunito-Bold.ttf
Nunito-ExtraBold.ttf
Nunito-ExtraLight.ttf
Nunito-Light.ttf
Nunito-Medium.ttf
Nunito-Regular.ttf
Nunito-SemiBold.ttf</string>
		<string>Nunito-Light.ttf
Nunito-Bold.ttf
Nunito-ExtraBold.ttf
Nunito-ExtraLight.ttf
Nunito-Light.ttf
Nunito-Medium.ttf
Nunito-Regular.ttf
Nunito-SemiBold.ttf</string>
		<string>Nunito-Medium.ttf
Nunito-Bold.ttf
Nunito-ExtraBold.ttf
Nunito-ExtraLight.ttf
Nunito-Light.ttf
Nunito-Medium.ttf
Nunito-Regular.ttf
Nunito-SemiBold.ttf</string>
		<string>Nunito-Regular.ttf
Nunito-Bold.ttf
Nunito-ExtraBold.ttf
Nunito-ExtraLight.ttf
Nunito-Light.ttf
Nunito-Medium.ttf
Nunito-Regular.ttf
Nunito-SemiBold.ttf</string>
		<string>Nunito-SemiBold.ttf
Nunito-Bold.ttf
Nunito-ExtraBold.ttf
Nunito-ExtraLight.ttf
Nunito-Light.ttf
Nunito-Medium.ttf
Nunito-Regular.ttf
Nunito-SemiBold.ttf</string>
	</array>
	<key>UIApplicationExitsOnSuspend</key>
	<true/>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>ic_3d_home</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string></string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Home</string>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).dashboard</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>ic_3d_search</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string></string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Search</string>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).search</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>ic_3d_menu</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string></string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Menu</string>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).menu</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>ic_3d_account</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string></string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Account</string>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).account</string>
		</dict>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
